#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Settings files

*.sublime-*
pdf/*
**/settings.json
python*
*.retry

# password files
**/password*
